- provide(:title, 'Sign Up')
%h1 Sign Up

= form_for(@user) do |f|
  = render 'common/error_messages'
  %ol
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :email
      = f.email_field :email
    %li
      = f.label :password
      = f.password_field :password
    %li
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %li
      = f.submit "Create my account", class: 'button'