%head
  %title= full_title(yield(:title))
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = javascript_include_tag :modernizr
  = csrf_meta_tags
%body
  .master
    %header
      = link_to 'Rails App', '#', id: 'logo'
      %nav.main
        %ul
          %li= link_to 'Home', root_path
          %li= link_to 'Help', help_path
          %li= link_to 'Sign In', signup_path
    .main
      = yield
    %footer
      = link_to image_tag('stm.jpg', {alt: 'Shaun TM', height: 100, width: 100}), 'http://shauntm.com'
      %nav
        %ul
          %li= link_to 'About', about_path
          %li= link_to 'Contact', contact_path